.cat-1 { 
 --main-color: #1f77b4; 
}
.cat-2 { 
 --main-color: #ff7f0e; 
}
.cat-3 { 
 --main-color: #2ca02c; 
}
.cat-4 { 
 --main-color: #d62728; 
}
.cat-5 { 
 --main-color: #9467bd; 
}
.cat-6 { 
 --main-color: #8c564b; 
}
.cat-7 { 
 --main-color: #e377c2; 
}
.cat-8 { 
 --main-color: #7f7f7f; 
}
.cat-9 { 
 --main-color: #bcbd22; 
}
.cat-10 { 
 --main-color: #17becf; 
}
.cat-11 { 
 --main-color: #a1c9f4; 
}
.cat-12 { 
 --main-color: #ffb482; 
}
.cat-13 { 
 --main-color: #8de5a1; 
}
.cat-14 { 
 --main-color: #ff9f9b; 
}
.cat-15 { 
 --main-color: #d0bbff; 
}
.cat-16 { 
 --main-color: #debb9b; 
}
.cat-17 { 
 --main-color: #fab0e4; 
}
.cat-18 { 
 --main-color: #cfcfcf; 
}
.cat-19 { 
 --main-color: #fffea3; 
}
.cat-20 { 
 --main-color: #b9f2f0; 
}
.cat-21 { 
 --main-color: #001c7f; 
}
.cat-22 { 
 --main-color: #b1400d; 
}
.cat-23 { 
 --main-color: #12711c; 
}
.cat-24 { 
 --main-color: #8c0800; 
}
.cat-25 { 
 --main-color: #591e71; 
}
.cat-26 { 
 --main-color: #592f0d; 
}
.cat-27 { 
 --main-color: #a23582; 
}
.cat-28 { 
 --main-color: #3c3c3c; 
}
.cat-29 { 
 --main-color: #b8850a; 
}
.cat-30 { 
 --main-color: #006374; 
}
